@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

.mono {
    font-family: 'Roboto Mono', monospace;
}

.serif {
    font-family: 'Roboto', sans-serif;
}

.margin {
    margin: auto 10% auto 10%;
}

body {
    background-color: rgb(28, 28, 30);
}

h1,h2,h3,h4,h5,h6,p,li {
    color: rgb(142, 142, 147);
}

a {
    text-decoration: none;
    color: rgb(10, 132, 255);
}

button {
    background-color: rgb(48, 209, 88);
    border: none;
    color: rgb(28, 28, 30);
    text-align: center;
    text-decoration: none;
    display: block;
    font-family: 'Roboto Mono', monospace;
    margin: 0 auto;
}