@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

.mono {
    font-family: 'Roboto Mono', monospace;
}

.serif {
    font-family: 'Roboto', sans-serif;
}

.margin {
    margin: auto 10% auto 10%;
}